.container-fluid {
   background-color: green;
   opacity: 75%;
}

nav {
    background: green;
}

.navbar-brand {
   opacity:100%;
   font-size: 30px;
}

.box1{
   width:20px;
   border: 15px solid black;
   padding:20px;
   margin:20px;
}

.yap1{
   font-family:Roboto;
   margin:20px;
   position:center;
}
.xhrpotbox{
   
   padding-left:20px;
   padding-right:10px;
   font-family:Roboto;
   border:5px solid black;
   background-color:gray;
   animation-name: boxing;
   animation-duration: 8s;
   animation-iteration-count:infinite;
   transition: background-color 0.5s ease;
}

@keyframes boxing{
   0% {background-color: darkgreen; }
   12.5% {background-color: green;}
   25% {background-color: lightgreen}
   37.5% {background-color: greenyellow;}
   50% {background-color: yellow}
   67.5% { background-color: greenyellow; }
   80% { background-color: lightgreen;}
   100% {background-color: green;}
}