.container-fluid {
   background-color: green;
   opacity: 75%;
}

nav {
    background: green;
}

.navbar-brand {
   opacity:100%;
   font-size: 30px;
}

.box1{
   width:20px;
   border: 15px solid black;
   padding:20px;
   margin:20px;
}

.boxesofcontents {
   overflow-x: scroll;
}
.yap1{
   font-family: "Space Mono", monospace;
   font-weight: 400;
   font-style: normal;
   margin:20px;
   position:center;
}
.xhrpotbox:hover{
   width:17%;
   animation-name: boxing;
   animation-duration: 6s;
   animation-iteration-count:infinite;
   transition: 0.8s ease-in-out;
   position:center;
   font-family: "Space Mono", monospace;
   font-weight: 700;
   font-style: normal;
}
.xhrpotbox{
   width:14%;
   padding:5px;
   word-wrap: break-word;
   text-align:center;
   float:left;
   height:200px;
   border:5px solid black;
   margin:2px;
   background-color:#0c3c2b;
   transition:0.8s ease-in-out;
   color:white;
   font-family: "Space Mono", monospace;
   font-weight: 700;
   font-style: normal;
   font-size:15px;
}

@keyframes boxing{
   0% {background-color: #0c3c2b;}
   16.6% {background-color: #1B4332;}
   33.3% {background-color: #2D6A4F;}
   50% {background-color: #40916C;}
   66.6% {background-color: #2D6A4F;}
   80%{background-color: #1B4332;}
   100% {background-color: #0c3c2b;}
}


/*space mono regular */
.smr { 
   font-family: "Space Mono", monospace;
   font-weight: 400;
   font-style: normal;
 }
 /* space mono bold */
 .smb {
   font-family: "Space Mono", monospace;
   font-weight: 700;
   font-style: normal;
 }
 /* space mono regular, italic */
 .smri {
   font-family: "Space Mono", monospace;
   font-weight: 400;
   font-style: italic;
 }
 /* space mono bold, italic */
 .smbi {
   font-family: "Space Mono", monospace;
   font-weight: 700;
   font-style: italic;
 }
 
 .left header {
   font-size:35px;
   text-align:center;
   width: 100%;
   border-top: 5px black solid;
   border-bottom: 5px black solid;
 }
 .left h4 {
   font-size:20px;
   float:center;
   text-align:center;
 }
 
 .zigma {
   border-top: 0px solid black;
   border: 6px solid black;
   height:500px;
   margin: 45px;
 }

 .breaker{
   width:100%;
   border:5px solid black;
   margin-left:-6px;
 }

 .dramaintro{
   width:100%;
   height:100%;
   border:0px;
   text-align:center;
   font-size:50px;
   overflow: hidden;
   border-right: .15em solid green;
   white-space: nowrap;
   margin: 0 auto;
   letter-spacing:0.15em;
 }

 .dramaintro img{
   width:100%;
   height:100%;
   border:0px;
   }
a {
   text-decoration: none;
   font-family: "Space Mono", monospace;
   font-weight: 700;
   font-style: normal;
}

.dram1{
   font-family: "Space Mono", monospace;
   font-weight: 400;
   font-style: normal;
   width:100%;
   height:100%;
   border:0px;
   text-align:center;
   font-size:100px;
   overflow: hidden;
   border-right: .15em solid green;
   white-space: nowrap;
   margin: 0 auto;
   letter-spacing:0.15em;
   animation:
      typing1 3.5s steps(40,end),
      blink-caret1 0.75s step-end infinite;
}
@keyframes typing1 {
   from {width: 0}
   to {width: 100%}
}
@keyframes blink-caret1 {
   from, to { border-color: transparent}
   50% {border-color:green;}
 }

 .dram2{
   font-family: "Space Mono", monospace;
   font-weight: 400;
   font-style: normal;
   width:100%;
   height:100%;
   border:0px;
   text-align:center;
   font-size:75px;
   overflow: hidden;
   word-wrap:break-word;
   border-right: .15em solid green;
   white-space: nowrap;
   margin: 0 auto;
   letter-spacing:0.15em;
   animation:
      typing1 3.5s steps(40,end),
      blink-caret1 0.75s step-end infinite;
   animation-delay: 4s;
}
@keyframes typing2 {
   0%{
      width:0;
      opacity:0;
   }
   1%{
      opacity:1;
   }
   100% {
      opacity:1;
      width:95%;
   }
}
@keyframes blink-caret2 {
   0%{
      border-color:transparent;
      opacity:0;
   }
   1%{
      opacity:1;
   }
   50%{
      border-color:green;
   }
 }

 .dram3{
   font-family: "Space Mono", monospace;
   font-weight: 400;
   font-style: normal;
   width:100%;
   height:100%;
   border:0px;
   text-align:center;
   font-size:50px;
   overflow: hidden;
   border-right: .15em solid green;
   white-space: nowrap;
   margin: 0 auto;
   letter-spacing:0.15em;
   animation:
      typing1 3.5s steps(40,end),
      blink-caret1 0.75s step-end infinite;
   animation-delay:8s;
}
@keyframes typing3 {
   from {width: 0}
   to {width: 100%}
}
@keyframes blink-caret3 {
   from, to { border-color: transparent}
   50% {border-color:green;}
 }