body{
   overflow-x:hidden;
   background-image:url("https://images.unsplash.com/photo-1728986554951-801b2faf66c5?q=80&w=1470&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
   background-repeat:no-repeat;
   background-attachment:fixed;
   background-size: cover;
}

.yap2{
   margin-top:10vh;
   color:white;
   font-size:1.8vmax;
   font-family:"Space Mono", monospace;
   margin-left:15vw;
   text-align:justify;
   margin-right:40vw;
}

.navbar1{
   color:white;
   height:3vh;
   margin-top:8vh;
   margin-left:5vw;
   position:fixed;
   justify-content:center;
   transform:translate(-50%,0%);
   font-family: "Space Mono", monospace;
   font-weight: 700;
   font-style: underline;
   display:flex;
   font-size:2vmax;
   padding:2px;
   z-index: 10;
   text-decoration:underline;
}