.splide__slide {
    width: auto;
    height:auto;
    background: #424242;
    font-family: "Space Mono", monospace;
    font-weight: 400;
    font-style: normal;
    color: white;
    font-size: 25px;
    
}
.splide__arrows--ttb .splide__arrow--next {
    transform: translate(-510%);
}
